{% extends "english_words_app/base.html" %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="btn-group mx-auto">
			{% if auth %}
				<a class="btn btn-primary" href="{% url 'english_words_app:word_list' page=0 %}">Global Dictionary</a>
				<a class="btn btn-primary" href="{% url 'english_words_app:favorite_list' page=0 %}">Favorites</a>
				<form action="{% url 'english_words_app:logout' %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary">Logout</button>
				</form>
			{% else %}
				<a class="btn btn-primary" href="{% url 'english_words_app:login' %}">Login</a>
			{% endif %}
			<a class="btn btn-primary" href="{% url 'english_words_app:register' %}">Register</a>
		</div>
	</div>
{% endblock %}